# 1. 데이터 읽기

In [2]:
import pandas as pd
import numpy as np
import requests, lxml
from bs4 import BeautifulSoup

## 1.1 데이터 불러오기

기상청에서 별도로 제공해준 데이터에 행정구역별 위도와 경도가 나와있다. 이를 이용해서 지역의 2단계 depth(시군구)에 해당하는 좌표를 얻을 수 있다. 그러나 배달데이터는 오류동이지만 날씨데이터에서는 오류1동, 오류2동...등과 같이 세분화 되어있기 때문에 이런 데이터는 **카카오 API** 중 주소검색을 이용하여 위도와 경도 값을 얻는다.

In [3]:
weather = pd.read_excel('/content/drive/MyDrive/기상청41_단기예보 조회서비스_오픈API활용가이드_격자_위경도(20210401).xlsx', engine='openpyxl')
weather

       구분      행정구역코드      1단계  ...  위도(초/100) 위치업데이트  Unnamed: 16
0     kor  1100000000    서울특별시  ...  37.563569    NaN          NaN
1     kor  1111000000    서울특별시  ...  37.570378    NaN          NaN
2     kor  1111051500    서울특별시  ...  37.584137    NaN          NaN
3     kor  1111053000    서울특별시  ...  37.573269    NaN          NaN
4     kor  1111054000    서울특별시  ...  37.582425    NaN          NaN
...   ...         ...      ...  ...        ...    ...          ...
3769  kor  5013060000  제주특별자치도  ...  33.247475    NaN          NaN
3770  kor  5013061000  제주특별자치도  ...  33.248178    NaN          NaN
3771  kor  5013062000  제주특별자치도  ...  33.251025    NaN          NaN
3772  kor  5019000000      이어도  ...   0.000000    NaN          NaN
3773  kor  5019099000      이어도  ...   0.000000    NaN          NaN

[3774 rows x 17 columns]

In [4]:
#필요없는 열 제거
weather = weather.drop(['구분', '위치업데이트', 'Unnamed: 16'], axis=1)
#이어도 제거
weather = weather[weather['1단계']!='이어도']
weather

          행정구역코드      1단계   2단계    3단계  ...  위도(분)  위도(초)   경도(초/100)  위도(초/100)
0     1100000000    서울특별시   NaN    NaN  ...     33  48.85  126.980008  37.563569
1     1111000000    서울특별시   종로구    NaN  ...     34  13.36  126.981642  37.570378
2     1111051500    서울특별시   종로구  청운효자동  ...     35   2.89  126.970652  37.584137
3     1111053000    서울특별시   종로구    사직동  ...     34  23.77  126.970956  37.573269
4     1111054000    서울특별시   종로구    삼청동  ...     34  56.73  126.983978  37.582425
...          ...      ...   ...    ...  ...    ...    ...         ...        ...
3767  5013058000  제주특별자치도  서귀포시    서홍동  ...     15  38.28  126.552733  33.260633
3768  5013059000  제주특별자치도  서귀포시    대륜동  ...     14  41.22  126.513411  33.244783
3769  5013060000  제주특별자치도  서귀포시    대천동  ...     14  50.91  126.479575  33.247475
3770  5013061000  제주특별자치도  서귀포시    중문동  ...     14  53.44  126.436778  33.248178
3771  5013062000  제주특별자치도  서귀포시    예래동  ...     15   3.69  126.399908  33.251025

[3772 rows x 14 columns]

In [5]:
weather.describe()

             행정구역코드         격자 X  ...    경도(초/100)    위도(초/100)
count  3.772000e+03  3772.000000  ...  3772.000000  3772.000000
mean   3.732887e+09    71.003181  ...   127.595226    36.378593
std    1.189482e+09    15.539259  ...     0.876783     1.072544
min    1.100000e+09    21.000000  ...   124.714100    33.223572
25%    2.824572e+09    59.000000  ...   126.917411    35.388358
50%    4.213028e+09    64.000000  ...   127.219115    36.389263
75%    4.623052e+09    85.000000  ...   128.404465    37.452550
max    5.013062e+09   144.000000  ...   131.864847    38.491644

[8 rows x 11 columns]

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3772 entries, 0 to 3771
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정구역코드     3772 non-null   int64
 1   1단계        3772 non-null   object
 2   2단계        3755 non-null   object
 3   3단계        3505 non-null   object
 4   격자 X       3772 non-null   int64
 5   격자 Y       3772 non-null   int64
 6   경도(시)      3772 non-null   int64
 7   경도(분)      3772 non-null   int64
 8   경도(초)      3772 non-null   float64
 9   위도(시)      3772 non-null   int64
 10  위도(분)      3772 non-null   int64
 11  위도(초)      3772 non-null   float64
 12  경도(초/100)  3772 non-null   float64
 13  위도(초/100)  3772 non-null   float64
dtypes: float64(4), int64(7), object(3)
memory usage: 442.0+ KB

In [7]:
weather.isna().sum()

행정구역코드         0
1단계            0
2단계           17
3단계          267
격자 X           0
격자 Y           0
경도(시)          0
경도(분)          0
경도(초)          0
위도(시)          0
위도(분)          0
위도(초)          0
경도(초/100)      0
위도(초/100)      0
dtype: int64

In [8]:
!unzip /content/drive/MyDrive/elicer_col_name.zip -d /content/elice_배달데이터

df_2019=pd.read_csv("/content/elice_배달데이터/elicer_2019_col_name.csv", parse_dates=['날짜'])
df_2020_1=pd.read_csv("/content/elice_배달데이터/elicer_2020_1_col_name.csv", parse_dates=['날짜'])
df_2020_2=pd.read_csv("/content/elice_배달데이터/elicer_2020_2_col_name.csv", parse_dates=['날짜'])
df_2021=pd.read_csv("/content/elice_배달데이터/elicer_2021_col_name.csv", parse_dates=['날짜'])

df = pd.concat([df_2019, df_2020_1, df_2020_2, df_2021], ignore_index=True)
df

Archive:  /content/drive/MyDrive/elicer_col_name.zip
  inflating: /content/elice_배달데이터/elicer_2019_col_name.csv
  inflating: /content/elice_배달데이터/elicer_2020_1_col_name.csv
  inflating: /content/elice_배달데이터/elicer_2020_2_col_name.csv
  inflating: /content/elice_배달데이터/elicer_2021_col_name.csv

                날짜  시간대  광역시도       시군구  읍면동  배달건수
0       2019-08-01    0   강원도       속초시   교동     1
1       2019-08-01    0   경기도  고양시 일산동구  마두동     4
2       2019-08-01    0   경기도  고양시 일산동구  백석동    28
3       2019-08-01    0   경기도  고양시 일산동구  식사동     3
4       2019-08-01    0   경기도  고양시 일산동구  장항동     4
...            ...  ...   ...       ...  ...   ...
2382976 2021-08-31   23  충청남도   천안시 서북구  쌍용동     6
2382977 2021-08-31   23  충청북도       제천시  신백동     6
2382978 2021-08-31   23  충청북도       제천시  신월동     2
2382979 2021-08-31   23  충청북도       제천시  천남동     1
2382980 2021-08-31   23  충청북도       제천시  하소동     4

[2382981 rows x 6 columns]

## 1.2 데이터 존재 여부 확인하기

level1과 level2는 배달데이터의 지역을 모두 포함한다.

In [9]:
level2 = list(weather['2단계'].unique())
SiGunGu = list(df['시군구'].unique())

yes =[]
no=[]

for region in SiGunGu:
  #배달데이터는 시군구 데이터에 띄어쓰기가 되어있는 것이 있는데 비교를 위해 공백을 제거해 날씨데이터와 동일한 모양으로 만든다.
  #왜인지는 모르겠으나,,,창원시는 예외이다. 창원시는 띄어쓰기가 되어있다.
  if not region.startswith('창원') :
    region = region.replace(" ","") 
  
  if region in level2:
    yes.append(region)
  else:
    no.append(region)

print(no) #모두 존재! (\\N은 세종특별자치시이다. 배달데이터는 세종특별자치시에 값이 들어있지 않다.)

['\\N']

In [10]:
df[df['시군구']=='\\N']

                날짜  시간대     광역시도 시군구   읍면동  배달건수
15861   2019-08-08   12  세종특별자치시  \N   소담동     1
16213   2019-08-08   14  세종특별자치시  \N   소담동     4
16403   2019-08-08   15  세종특별자치시  \N   소담동     3
16588   2019-08-08   16  세종특별자치시  \N   소담동     3
16790   2019-08-08   17  세종특별자치시  \N   소담동     7
...            ...  ...      ...  ..   ...   ...
1941128 2021-03-13   23  세종특별자치시  \N  조치원읍     6
1941262 2021-03-14    0  세종특별자치시  \N  조치원읍     9
1941355 2021-03-14    1  세종특별자치시  \N  조치원읍     3
1942191 2021-03-14   12  세종특별자치시  \N  조치원읍     1
1942475 2021-03-14   13  세종특별자치시  \N  조치원읍     1

[3123 rows x 6 columns]

no list에 들어있는 값들은 카카오 API 주소검색을 이용해 위도 경도 값을 얻는다.

In [11]:
level3 = list(weather['3단계'].unique())
Dong = list(df['읍면동'].unique())

yes =[]
no=[]

for region in Dong:
  #배달데이터는 시군구 데이터에 띄어쓰기가 되어있는 것이 있는데 비교를 위해 공백을 제거해 날씨데이터와 동일한 모양으로 만든다.
  #왜인지는 모르겠으나,,,창원시는 예외이다. 창원시는 띄어쓰기가 되어있다.
  if not region.startswith('창원') :
    region = region.replace(" ","") 
  
  if region in level3:
    yes.append(region)
  else:
    no.append(region)

print(len(no))
print(no)

444
['마두동', '장항동', '광명동', '철산동', '하안동', '조남동', '금오동', '신곡동', '용현동', '의정부동', '호원동', '삼방동', '삼정동', '계동', '본성동', '봉곡동', '개봉동', '고척동', '구로동', '독산동', '망원동', '대림동', '조례동', '효자동2가', '효자동3가', '서귀동', '석림동', '의림동', '장락동', '소하동', '중안동', '어방동', '외동', '인사동', '본오동', '봉황동', '삼계동', '장대동', '칠암동', '양덕동', '합성동', '정하동', '화곡동', '궁동', '방학동', '정릉동', '풍동', '덕이동', '주엽동', '일직동', '감정동', '괴안동', '옥길동', '남사면', '동패동', '신읍동', '산척동', '대안동', '옥봉동', '옥야동', '천리동', '이곡동', '명지동', '하단동', '도봉동', '창동', '신정동', '영등포동1가', '연향동', '왕지동', '명천동', '강제동', '모산동', '중앙로1가', '중앙로2가', '태장동', '산현동', '서상동', '소태동', '가양동', '상계동', '쌍문동', '신대방동', '청천동', '하소동', '낙양동', '내당동', '평리동', '신호동', '방화동', '산곡동', '청당동', '반곡동', '오산동', '오치동', '파호동', '등촌동', '마곡동', '온수동', '죽정동', '고암동', '논곡동', '와동동', '내발산동', '신월동', '십정동', '야당동', '벌리동', '수정동', '길음동', '주약동', '신포동1가', '광석동', '정상동', '천왕동', '홍은동', '화봉동', '예천동', '가좌동', '망경동', '다대동', '율세동', '불광동', '천남동', '삼도이동', '목동동', '간석동', '동대동', '장림동', '지곡동', '초전동', '인의동', '나운동', '관설동', '동현동', '아라일동', '회원동', '봉천동', '광안동', '우동', '범박동', '병점동', '오태동', '호탄동', '송현동', '월포동', '천천동', '강정동', '중화산동2가', '성사동', '토당동', '행신동', '진평동', '신암동', '동소문동1가', '법상동', '홍문동', '문발동', '호산동', '쌍용동', '흥동', '노동동', '노서동', '인왕동', '충효동', '석장동', '여의도동', '산북동', '사정동', '장재동', '공릉동', '지행동', '생연동', '두암동', '장현동', '남가좌동', '송파동', '문정동', '방이동', '미장동', '석수동', '법흥동', '대명동', '토평동', '월평동', '경장동', '하효동', '죽성동', '미룡동', '시래동', '정왕동', '법환동', '청라동', '구정동', '남문동', '휴천동', '영주동', '성산동', '황상동', '역곡동', '진현동', '상모동', '풍덕천동', '수성동4가', '동교동', '지족동', '노량진동', '상도동', '좌동', '망정동', '야사동', '조교동', '영동', '장미동', '문외동', '과전동', '성동동', '당북동', '미원동', '창구동', '덕천동', '신포동2가', '효자동1가', '서호동', '구황동', '대정읍', '부개동', '불로동', '옥정동', '삼숭동', '남성동', '광사동', '반포동', '명산동', '서초동', '논현동', '대치동', '양재동', '도곡동', '금남로5가', '개포동', '덕정동', '판암동', '이도이동', '동흥남동', '약대동', '원미동', '춘의동', '도당동', '보목동', '심곡본동', '동춘동', '소사동', '도두일동', '도이동', '전하동', '갈마동', '상효동', '방배동', '계수동', '사당동', '해망동', '동두천동', '문래동3가', '당산동4가', '당산동5가', '영등포동7가', '당산동', '양평동4가', '영등포동8가', '동빙고동', '상도1동', '당산동3가', '신영동', '침산동', '중성동', '호계동', '서흥남동', '소호동', '장안동', '신기동', '관양동', '화장동', '용담이동', '남천동', '덕충동', '도련일동', '태전동', '황금동', '각화동', '중앙로3가', '범물동', '산수동', '중대동', '원흥동', '도순동', '색달동', '도내동', '중계동', '하원동', '호근동', '금노동', '봉래동', '신효동', '수월동', '옥포동', '왕암동', '성석동', '모현동1가', '운흥동', '금광동', '안흥동', '화서동', '오라이동', '당산동1가', '이충동', '모전동', '천호동', '암사동', '잠실동', '태평동', '신음동', '고덕동', '원동', '상대원동', '수진동', '노온사동', '점촌동', '독곡동', '언하동', '운안동', '묵동', '성호동', '중화동', '대호동', '월계동', '신매동', '시지동', '주안동', '흥덕동', '오식도동', '금계동', '명일동', '잠홍동', '유방동', '영등포동3가', '용화동', '교현동', '목성동', '중흥동', '연제동', '상인동', '봉무동', '강산동', '비응도동', '회수동', '남내동', '문흥동', '선화동', '온천동', '가오동', '풍기동', '응명동', '방림동', '연암동', '둔율동', '야탑동', '소제동', '모종동', '호암동', '영신동', '모암동', '여수동', '개복동', '외도일동', '성서동', '물왕동', '본촌동', '서계동', '상아동', '만리동1가', '동양동', '죽림동', '거제동', '청파동1가', '당산동2가', '오룡동', '칠금동', '삼남면', '서내동', '만리동2가', '동자동', '하예동', '충정로3가', '문래동5가', '내흥동', '창성동', '쌍암동', '청파동2가', '고산동', '역동', '봉양동', '산월동', '대석동', '신내동', '도두이동', '삼동', '금촌동', '회정동', '과원동', '월암동', '장당동', '갈월동', '자곡동', '두학동', '수유동', '안양동', '사수동', '박달동', '하계동', '도마교동', '용호동', '대연동', '금릉동', '안림동', '원성동', '미산동', '일도이동', '도남동', '포동', '용곡동', '문내동', '고강동', '원종동', '산격동', '부송동', '영등동', '동성로2가', '삼덕동1가', '도창동', '후평동', '고읍동', '소양로2가', '요선동']

In [12]:
print(len(yes)) #382개는 weather데이터에서 얻을 수 있다.

382

# 2. 위도 경도 데이터 프레임 만들기

## 2.1 level1 (광역시도)

In [13]:
df_level1= pd.DataFrame(columns=['광역시도','시군구','읍면동','경도(초/100)','위도(초/100)'])
df_level1

Empty DataFrame
Columns: [광역시도, 시군구, 읍면동, 경도(초/100), 위도(초/100)]
Index: []

In [14]:
print(len(weather.loc[(weather['1단계']=='세종특별자치시') & (weather['2단계'].isna()) & (weather['3단계'].isna()),'경도(초/100)']))
weather.loc[(weather['1단계']=='세종특별자치시') & (weather['2단계'].isna()) & (weather['3단계'].isna()),'경도(초/100)'].values[0]

1

127.28906909999999

In [15]:
level1_list = list(df['광역시도'].unique())
i=0
for Si_Do in level1_list:
  x = weather[(weather['1단계']==Si_Do) & (weather['2단계'].isna()) & (weather['3단계'].isna())]['경도(초/100)'].values[0]
  y = weather[(weather['1단계']==Si_Do) & (weather['2단계'].isna()) & (weather['3단계'].isna())]['위도(초/100)'].values[0]
  df_level1.loc[i] = [Si_Do, np.NaN, np.NaN, x, y]
  i+=1

df_level1

       광역시도  시군구  읍면동   경도(초/100)  위도(초/100)
0       강원도  NaN  NaN  127.731975  37.882692
1       경기도  NaN  NaN  127.011689  37.271844
2      경상남도  NaN  NaN  128.694167  35.234736
3     대전광역시  NaN  NaN  127.386567  36.347119
4     서울특별시  NaN  NaN  126.980008  37.563569
5      전라남도  NaN  NaN  126.465000  34.813044
6      전라북도  NaN  NaN  127.111053  35.817275
7   제주특별자치도  NaN  NaN  126.500333  33.485694
8      충청남도  NaN  NaN  127.422956  36.323872
9      충청북도  NaN  NaN  127.493586  36.632500
10     경상북도  NaN  NaN  128.602767  35.889606
11    대구광역시  NaN  NaN  128.603553  35.868542
12    부산광역시  NaN  NaN  129.076953  35.177019
13    광주광역시  NaN  NaN  126.853364  35.156975
14    인천광역시  NaN  NaN  126.707353  37.453233
15    울산광역시  NaN  NaN  129.313689  35.535408
16  세종특별자치시  NaN  NaN  127.289069  36.480012

In [16]:
df_level1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   광역시도       17 non-null     object
 1   시군구        0 non-null      float64
 2   읍면동        0 non-null      float64
 3   경도(초/100)  17 non-null     float64
 4   위도(초/100)  17 non-null     float64
dtypes: float64(4), object(1)
memory usage: 816.0+ bytes

In [17]:
# df_level1.to_csv("/content/drive/MyDrive/경도_위도_level1.csv", index=False, encoding="utf-8-sig")

## 2.2 level2 (시군구)

In [18]:
df_level2= pd.DataFrame(columns=['광역시도','시군구','읍면동','경도(초/100)','위도(초/100)'])
df_level2

Empty DataFrame
Columns: [광역시도, 시군구, 읍면동, 경도(초/100), 위도(초/100)]
Index: []

In [19]:
#세종특별시의 경우 날씨데이터는 배달데이터와 다르게 시군구 지역도 세종특별자치시로 채워져있음
weather[weather['1단계']=='세종특별자치시']

          행정구역코드      1단계      2단계  ...     위도(초)   경도(초/100)  위도(초/100)
1239  3600000000  세종특별자치시      NaN  ...   0.00000  127.289069  36.480012
1240  3611000000  세종특별자치시  세종특별자치시  ...   0.00000  127.289069  36.480012
1241  3611025000  세종특별자치시  세종특별자치시  ...   0.00000  127.298399  36.604528
1242  3611031000  세종특별자치시  세종특별자치시  ...   0.00000  127.273774  36.541874
1243  3611032000  세종특별자치시  세종특별자치시  ...   0.00000  127.326866  36.559089
1244  3611033000  세종특별자치시  세종특별자치시  ...   0.00000  127.370376  36.527112
1245  3611034000  세종특별자치시  세종특별자치시  ...   0.00000  127.280350  36.463826
1246  3611035000  세종특별자치시  세종특별자치시  ...   0.00000  127.205601  36.496793
1247  3611036000  세종특별자치시  세종특별자치시  ...   0.00000  127.271622  36.592587
1248  3611037000  세종특별자치시  세종특별자치시  ...   0.00000  127.195513  36.681251
1249  3611038000  세종특별자치시  세종특별자치시  ...   0.00000  127.264162  36.656090
1250  3611039000  세종특별자치시  세종특별자치시  ...   0.00000  127.158252  36.722317
1251  3611051000  세종특별자치시  세종특별자치시  ...  44.53000  127.254625  36.479036
1252  3611051500  세종특별자치시  세종특별자치시  ...  11.55120  127.256899  36.486542
1253  3611052000  세종특별자치시  세종특별자치시  ...   2.32000  127.262397  36.517311
1254  3611053000  세종특별자치시  세종특별자치시  ...  43.35000  127.248222  36.512042
1255  3611054000  세종특별자치시  세종특별자치시  ...  43.04400  127.247612  36.511957
1256  3611055000  세종특별자치시  세종특별자치시  ...  11.19360  127.236841  36.519776
1257  3611055500  세종특별자치시  세종특별자치시  ...   0.68000  127.301191  36.483522
1258  3611056000  세종특별자치시  세종특별자치시  ...  43.86000  127.290412  36.478850
1259  3611057000  세종특별자치시  세종특별자치시  ...  16.57000  127.279530  36.471270
1260  3611058000  세종특별자치시  세종특별자치시  ...  38.31828  127.247913  36.493977

[22 rows x 14 columns]

**강서구**의 경우 부산광역시 강서구도 있고, 서울특별시 강서구도 존재한다. 이름이 같은 지역이 있을 수 있으므로 `df['시군구'].unique()` 만큼만 도는 것은 매우 위험. 그리고 데이터를 넣을 때 1단계도 동시에 채워넣어야 하므로 **광역시도별 시군구의 unique()로 적용**하자!

In [20]:
df[df['시군구']=='강서구']

                날짜  시간대   광역시도  시군구  읍면동  배달건수
175     2019-08-01   10  서울특별시  강서구  염창동     1
176     2019-08-01   10  서울특별시  강서구  화곡동     2
265     2019-08-01   11  부산광역시  강서구  명지동    22
268     2019-08-01   11  서울특별시  강서구  공항동     1
269     2019-08-01   11  서울특별시  강서구  화곡동     5
...            ...  ...    ...  ...  ...   ...
2382684 2021-08-31   21  서울특별시  강서구  화곡동     4
2382835 2021-08-31   22  부산광역시  강서구  명지동    31
2382838 2021-08-31   22  서울특별시  강서구  화곡동     3
2382945 2021-08-31   23  부산광역시  강서구  명지동     8
2382947 2021-08-31   23  서울특별시  강서구  화곡동     3

[25213 rows x 6 columns]

In [21]:
i=0
level1_list = list(df['광역시도'].unique())

for Si_Do in level1_list:
  level2_list = list(df[df['광역시도']==Si_Do]['시군구'].unique())
  for SiGunGu in level2_list:
  #배달데이터는 시군구 데이터에 띄어쓰기가 되어있는 것이 있는데 비교를 위해 공백을 제거해 날씨데이터와 동일한 모양으로 만든다.
  #왜인지는 모르겠으나,,,창원시는 예외이다. 창원시는 띄어쓰기가 되어있다.
    if not SiGunGu.startswith('창원') :
      SiGunGu = SiGunGu.replace(" ","")
    if SiGunGu == '\\N': #세종특별자치시
      SiGunGu = '세종특별자치시'

    # 날씨데이터에 원하는 데이터가(배달데이터의 시군구) 있는지 다시한번 확인. 없거나 많으면 해당 시군구와 값을 출력한다.
    # if len(weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계'].isna()),'경도(초/100)']) != 1:
    #   print(SiGunGu, weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계'].isna()),'경도(초/100)'])
    # if len(weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계'].isna()),'위도(초/100)']) != 1:
    #   print(SiGunGu, weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계'].isna()),'위도(초/100)'])
      
    x=weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계'].isna()),'경도(초/100)'].values[0]
    y=weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계'].isna()),'위도(초/100)'].values[0]
    df_level2.loc[i] = [Si_Do, SiGunGu, np.NaN, x, y]
    i +=1

df_level2

        광역시도      시군구  읍면동   경도(초/100)  위도(초/100)
0        강원도      속초시  NaN  128.594167  38.204275
1        강원도      원주시  NaN  127.922056  37.339083
2        강원도      삼척시  NaN  129.167489  37.447086
3        강원도      강릉시  NaN  128.878497  37.749136
4        강원도      철원군  NaN  127.315733  38.144056
..       ...      ...  ...         ...        ...
150    인천광역시      계양구  NaN  126.739753  37.534792
151    울산광역시       북구  NaN  129.363544  35.579689
152    울산광역시      울주군  NaN  129.297164  35.530739
153    울산광역시       중구  NaN  129.334875  35.566342
154  세종특별자치시  세종특별자치시  NaN  127.289069  36.480012

[155 rows x 5 columns]

df['시군구'].unique()는 141개 뿐이지만 모든 광역시도의 unique()를 적용한 결과 총 **155**개의 데이터를 얻었다. 10개이상 겹치는 이름이 있었다.

In [22]:
total3=0
total2=0
level1_list = list(df['광역시도'].unique())

for Si_Do in level1_list:
  level2_list = list(df[df['광역시도']==Si_Do]['시군구'].unique())
  total2 += len(level2_list)
  for SiGunGu in level2_list:
    total3 += len(list(df[(df['광역시도']==Si_Do) & (df['시군구']==SiGunGu)]['읍면동'].unique()))

total2, total3

(155, 913)

In [23]:
df_level2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   광역시도       155 non-null    object
 1   시군구        155 non-null    object
 2   읍면동        0 non-null      float64
 3   경도(초/100)  155 non-null    float64
 4   위도(초/100)  155 non-null    float64
dtypes: float64(3), object(2)
memory usage: 7.3+ KB

In [24]:
df_level2.groupby('광역시도').describe()

          읍면동               ...  위도(초/100)
        count mean std min  ...        25%        50%        75%        max
광역시도                        ...
강원도       0.0  NaN NaN NaN  ...  37.522599  37.813839  38.077677  38.204275
경기도       0.0  NaN NaN NaN  ...  37.299142  37.402103  37.627998  38.093364
경상남도      0.0  NaN NaN NaN  ...  35.186954  35.220932  35.292966  35.541536
경상북도      0.0  NaN NaN NaN  ...  35.992547  36.136897  36.583631  36.890261
광주광역시     0.0  NaN NaN NaN  ...  35.136428  35.143100  35.149483  35.171125
대구광역시     0.0  NaN NaN NaN  ...  35.838965  35.860747  35.872271  35.883617
대전광역시     0.0  NaN NaN NaN  ...  36.324133  36.343794  36.352483  36.359367
부산광역시     0.0  NaN NaN NaN  ...  35.142467  35.173186  35.201872  35.241350
서울특별시     0.0  NaN NaN NaN  ...  37.512993  37.548156  37.581375  37.665833
세종특별자치시   0.0  NaN NaN NaN  ...  36.480012  36.480012  36.480012  36.480012
울산광역시     0.0  NaN NaN NaN  ...  35.548540  35.566342  35.573015  35.579689
인천광역시     0.0  NaN NaN NaN  ...  37.448560  37.482474  37.527160  37.542692
전라남도      0.0  NaN NaN NaN  ...  34.808789  34.937536  34.947606  35.012839
전라북도      0.0  NaN NaN NaN  ...  35.800575  35.809189  35.945275  35.964642
제주특별자치도   0.0  NaN NaN NaN  ...  33.313340  33.374331  33.435321  33.496311
충청남도      0.0  NaN NaN NaN  ...  36.464468  36.782097  36.795615  36.875558
충청북도      0.0  NaN NaN NaN  ...  36.747712  36.874918  36.983381  37.129769

[17 rows x 24 columns]

In [25]:
# df_level2.to_csv("/content/drive/MyDrive/경도_위도_level2.csv", index=False, encoding="utf-8-sig")

## 2.3 level3 (읍면동)

다음처럼 **groupby를 연속**해서 사용하면 더 간단하게 읍면동 개수를 얻을 수 있다! for문을 중첩해서 unique()를 사용해 리스트를 만드는 것보다 훨씬 빠르게 계산된다. </br>
최종 데이터는 **913**개여야 한다.

In [31]:
df.groupby(['광역시도','시군구','읍면동']).nunique().reset_index()

     광역시도  시군구   읍면동   날짜  시간대  배달건수
0     강원도  강릉시    교동  485   13     9
1     강원도  강릉시   송정동   24    9     3
2     강원도  삼척시    교동   50   12     4
3     강원도  삼척시   남양동  699   13     7
4     강원도  속초시    교동  117   15    26
..    ...  ...   ...  ...  ...   ...
908  충청북도  충주시   연수동   70   16    33
909  충청북도  충주시   용산동   89   15    20
910  충청북도  충주시  중앙탑면    1    5     3
911  충청북도  충주시   칠금동    4   15    18
912  충청북도  충주시   호암동   87   14    15

[913 rows x 6 columns]

### 2.3.1 날씨데이터에서 채우기

In [32]:
df_level3= pd.DataFrame(columns=['광역시도','시군구','읍면동','경도(초/100)','위도(초/100)'])
df_level3

Empty DataFrame
Columns: [광역시도, 시군구, 읍면동, 경도(초/100), 위도(초/100)]
Index: []

In [33]:
weather[weather['2단계']=='세종특별자치시']
weather.loc[(weather['1단계']=='세종특별자치시') & (weather['2단계']=='세종특별자치시') & (weather['3단계']=='조치원읍'),'경도(초/100)'].values[0]

127.298399

In [38]:
level3_list=df.groupby(['광역시도','시군구','읍면동']).nunique().reset_index()['읍면동'].values

In [39]:
level3_list

array(['교동', '송정동', '교동', '남양동', '교동', '금호동', '조양동', '중앙동', '청학동', '관설동',
       '단계동', '단구동', '무실동', '반곡동', '일산동', '지정면', '태장동', '동송읍', '서면',
       '동내면', '석사동', '소양로2가', '요선동', '퇴계동', '효자동', '후평동', '도내동', '동산동',
       '삼송동', '성사동', '신원동', '용두동', '원흥동', '주교동', '토당동', '행신동', '화정동',
       '마두동', '백석동', '성석동', '식사동', '장항동', '정발산동', '중산동', '풍동', '대화동',
       '덕이동', '일산동', '주엽동', '탄현동', '광명동', '노온사동', '소하동', '일직동', '철산동',
       '하안동', '경안동', '목동', '송정동', '역동', '오포읍', '장지동', '중대동', '탄벌동', '태전동',
       '갈매동', '도마교동', '부곡동', '감정동', '고촌읍', '구래동', '사우동', '양촌읍', '풍무동',
       '다산동', '별내동', '오남읍', '와부읍', '진건읍', '진접읍', '퇴계원읍', '평내동', '호평동',
       '동두천동', '보산동', '상패동', '생연동', '송내동', '안흥동', '지행동', '고강동', '괴안동',
       '내동', '도당동', '범박동', '삼정동', '상동', '소사동', '소사본동', '송내동', '심곡동',
       '심곡본동', '약대동', '역곡동', '오정동', '옥길동', '원미동', '원종동', '중동', '춘의동',
       '야탑동', '복정동', '수진동', '신흥동', '양지동', '태평동', '금광동', '도촌동', '상대원동',
       '성남동', '여수동', '은행동', '중앙동', '하대원동', '구운동', '금곡동', '호매실동', '천천동',
       '화서동', '계수동', '광석동', '논곡동', '능곡동', '대야동', '도창동', '매화동', '목감동',
       '물왕동', '미산동', '산현동', '신천동', '월곶동', '은행동', '장곡동', '장현동', '정왕동',
       '조남동', '포동', '고잔동', '초지동', '본오동', '부곡동', '사동', '수암동', '월피동', '이동',
       '일동', '관양동', '평촌동', '호계동', '박달동', '석수동', '안양동', '고암동', '고읍동',
       '광사동', '광적면', '남면', '덕계동', '덕정동', '백석읍', '봉양동', '산북동', '삼숭동',
       '옥정동', '은현면', '장흥면', '회정동', '양평읍', '강천면', '홍문동', '전곡읍', '원동',
       '청학동', '중동', '풍덕천동', '남사면', '남사읍', '모현읍', '유방동', '이동읍', '포곡읍',
       '삼동', '월암동', '초평동', '가능동', '고산동', '금오동', '낙양동', '녹양동', '민락동',
       '산곡동', '신곡동', '용현동', '의정부동', '장암동', '호원동', '관고동', '부발읍', '송정동',
       '신둔면', '안흥동', '장호원읍', '중리동', '증포동', '창전동', '금촌동', '동패동', '목동동',
       '문발동', '문산읍', '야당동', '와동동', '파주읍', '독곡동', '서정동', '세교동', '신장동',
       '안중읍', '이충동', '장당동', '지산동', '청북읍', '현덕면', '군내면', '선단동', '소흘읍',
       '신북면', '신읍동', '어룡동', '일동면', '초이동', '남양읍', '능동', '반송동', '병점동',
       '봉담읍', '산척동', '새솔동', '오산동', '우정읍', '장안면', '향남읍', '고현동', '수월동',
       '양정동', '옥포동', '장평동', '구산동', '내동', '대성동', '동상동', '봉황동', '부원동',
       '삼계동', '삼방동', '삼정동', '서상동', '어방동', '외동', '전하동', '주촌면', '흥동', '벌리동',
       '사천읍', '송포동', '향촌동', '물금읍', '가좌동', '강남동', '계동', '금산면', '남성동',
       '내동면', '대안동', '동성동', '망경동', '본성동', '봉곡동', '봉래동', '상대동', '상봉동',
       '상평동', '수정동', '신안동', '옥봉동', '이현동', '인사동', '장대동', '주약동', '중안동',
       '초전동', '충무공동', '칠암동', '판문동', '평거동', '평안동', '하대동', '호탄동', '창녕읍',
       '교방동', '남성동', '동성동', '산호동', '상남동', '성호동', '신포동1가', '신포동2가', '오동동',
       '월포동', '중성동', '창동', '구암동', '석전동', '양덕동', '합성동', '회원동', '상남동',
       '봉곡동', '함양읍', '와촌면', '자인면', '중방동', '중산동', '진량읍', '하양읍', '구정동',
       '구황동', '노동동', '노서동', '동부동', '동천동', '마동', '사정동', '석장동', '성건동',
       '성동동', '시래동', '외동읍', '용강동', '인왕동', '진현동', '충효동', '현곡면', '황남동',
       '황성동', '황오동', '고아읍', '공단동', '상모동', '오태동', '원평동', '인의동', '진평동',
       '황상동', '교동', '남산동', '모암동', '부곡동', '삼락동', '성내동', '신음동', '응명동',
       '평화동', '모전동', '영신동', '점촌동', '흥덕동', '봉화읍', '광석동', '금곡동', '남문동',
       '남부동', '당북동', '대석동', '동부동', '명륜동', '목성동', '법상동', '법흥동', '북문동',
       '삼산동', '상아동', '서부동', '성곡동', '송천동', '송현동', '안기동', '안흥동', '옥동',
       '옥야동', '용상동', '운안동', '운흥동', '율세동', '정상동', '정하동', '천리동', '태화동',
       '평화동', '풍천면', '영주동', '휴천동', '과전동', '금노동', '망정동', '문내동', '문외동',
       '야사동', '언하동', '완산동', '조교동', '창구동', '호명면', '의성읍', '기산면', '북삼읍',
       '석적읍', '왜관읍', '흥해읍', '산월동', '쌍암동', '월계동', '방림동', '계림동', '금남로5가',
       '산수동', '소태동', '용산동', '학동', '각화동', '두암동', '문흥동', '본촌동', '신용동',
       '양산동', '연제동', '오치동', '용두동', '용봉동', '중흥동', '치평동', '화정동', '대명동',
       '감삼동', '대천동', '도원동', '본리동', '상인동', '송현동', '신당동', '용산동', '월성동',
       '이곡동', '파호동', '호산동', '구지면', '다사읍', '유가읍', '현풍읍', '방촌동', '봉무동',
       '신암동', '신천동', '금호동', '동천동', '사수동', '산격동', '침산동', '태전동', '내당동',
       '비산동', '평리동', '두산동', '범물동', '상동', '수성동4가', '시지동', '신매동', '지산동',
       '황금동', '남산동', '덕산동', '동성로2가', '삼덕동1가', '비래동', '송촌동', '오정동', '가양동',
       '가오동', '대동', '삼성동', '성남동', '소제동', '신흥동', '용운동', '용전동', '자양동',
       '판암동', '홍도동', '갈마동', '월평동', '탄방동', '봉명동', '지족동', '대흥동', '선화동',
       '녹산동', '명지동', '신호동', '정관읍', '대연동', '용당동', '용호동', '명륜동', '덕천동',
       '다대동', '당리동', '신평동', '장림동', '하단동', '광안동', '남천동', '거제동', '연산동',
       '반송동', '우동', '좌동', '개포동', '논현동', '대치동', '도곡동', '삼성동', '신사동', '역삼동',
       '자곡동', '청담동', '고덕동', '길동', '명일동', '성내동', '암사동', '천호동', '미아동',
       '수유동', '가양동', '공항동', '내발산동', '등촌동', '마곡동', '방화동', '염창동', '화곡동',
       '남현동', '봉천동', '신림동', '가리봉동', '개봉동', '고척동', '구로동', '궁동', '오류동',
       '온수동', '천왕동', '항동', '가산동', '독산동', '시흥동', '공릉동', '상계동', '월계동',
       '중계동', '하계동', '도봉동', '방학동', '쌍문동', '창동', '장안동', '노량진동', '대방동',
       '사당동', '상도1동', '상도동', '신대방동', '흑석동', '공덕동', '동교동', '망원동', '서교동',
       '성산동', '연남동', '남가좌동', '충정로3가', '홍은동', '반포동', '방배동', '서초동', '양재동',
       '잠원동', '마장동', '길음동', '동소문동1가', '정릉동', '가락동', '문정동', '방이동', '삼전동',
       '석촌동', '송파동', '오금동', '잠실동', '목동', '신월동', '신정동', '당산동', '당산동1가',
       '당산동2가', '당산동3가', '당산동4가', '당산동5가', '대림동', '도림동', '문래동3가', '문래동5가',
       '신길동', '양평동4가', '여의도동', '영등포동', '영등포동1가', '영등포동3가', '영등포동7가',
       '영등포동8가', '갈월동', '동빙고동', '동자동', '서계동', '청파동1가', '청파동2가', '한남동',
       '후암동', '갈현동', '구산동', '대조동', '불광동', '신사동', '역촌동', '만리동1가', '만리동2가',
       '신당동', '중림동', '묵동', '신내동', '중화동', '고운동', '다정동', '소담동', '조치원읍',
       '매곡동', '신천동', '연암동', '중산동', '천곡동', '화봉동', '삼남면', '삼남읍', '언양읍',
       '온산읍', '온양읍', '장현동', '동양동', '장기동', '간석동', '도화동', '주안동', '갈산동',
       '부개동', '부평동', '산곡동', '삼산동', '십정동', '일신동', '청천동', '가좌동', '불로동',
       '청라동', '동춘동', '광양읍', '광영동', '도이동', '마동', '중동', '과원동', '금계동', '금성동',
       '남내동', '남평읍', '대호동', '빛가람동', '삼도동', '서내동', '성북동', '송월동', '죽림동',
       '중앙동', '옥암동', '연향동', '왕지동', '조례동', '해룡면', '교동', '덕충동', '문수동',
       '소라면', '소호동', '신기동', '안산동', '여서동', '웅천동', '학동', '화장동', '개복동',
       '개정면', '경암동', '경장동', '구암동', '금광동', '금동', '금암동', '나운동', '내흥동',
       '대명동', '동흥남동', '둔율동', '명산동', '문화동', '미룡동', '미원동', '미장동', '비응도동',
       '사정동', '산북동', '삼학동', '서수면', '서흥남동', '소룡동', '수송동', '신영동', '신창동',
       '신풍동', '영동', '영화동', '오룡동', '오식도동', '옥구읍', '옥산면', '월명동', '장미동',
       '장재동', '조촌동', '죽성동', '중동', '중앙로1가', '중앙로2가', '중앙로3가', '지곡동', '창성동',
       '평화동', '해망동', '요촌동', '남중동', '동산동', '모현동1가', '부송동', '신동', '영등동',
       '중화산동2가', '효자동1가', '효자동2가', '효자동3가', '농소동', '상동', '수성동', '시기동',
       '강정동', '남원읍', '대정읍', '대포동', '도순동', '동홍동', '법환동', '보목동', '상효동',
       '색달동', '서귀동', '서호동', '서홍동', '성산읍', '신효동', '안덕면', '월평동', '중문동',
       '토평동', '표선면', '하예동', '하원동', '하효동', '호근동', '회수동', '건입동', '구좌읍',
       '노형동', '도남동', '도두이동', '도두일동', '도련일동', '삼도이동', '아라일동', '애월읍',
       '오라이동', '외도일동', '용담이동', '월평동', '이도이동', '일도이동', '조천읍', '한림읍', '강산동',
       '내동', '대교동', '반월동', '부창동', '지산동', '취암동', '동대동', '명천동', '죽정동',
       '대산읍', '동문동', '석남동', '석림동', '성연면', '수석동', '예천동', '읍내동', '인지면',
       '잠홍동', '지곡면', '둔포면', '모종동', '온천동', '용화동', '풍기동', '목천읍', '봉명동',
       '신방동', '용곡동', '원성동', '청당동', '불당동', '쌍용동', '홍성읍', '괴산읍', '단양읍',
       '매포읍', '감곡면', '강제동', '고암동', '교동', '남천동', '동현동', '두학동', '명동', '모산동',
       '봉양읍', '서부동', '신백동', '신월동', '영천동', '왕암동', '의림동', '장락동', '중앙로1가',
       '중앙로2가', '천남동', '청전동', '하소동', '화산동', '증평읍', '오창읍', '우암동', '가경동',
       '교현동', '금릉동', '문화동', '성남동', '성내동', '성서동', '안림동', '연수동', '용산동',
       '중앙탑면', '칠금동', '호암동'], dtype=object)

In [40]:
i=0
level1_list = list(df['광역시도'].unique())
no_list=[]

for Si_Do in level1_list:
  level2_list = list(df[df['광역시도']==Si_Do]['시군구'].unique())
  for SiGunGu in level2_list:
    level3_list = list(df[(df['광역시도']==Si_Do) & (df['시군구']==SiGunGu)]['읍면동'].unique()) #시군구를 날씨데이터 포맷으로 바꾸기 전 level3_list를 만들어야한다!
  
    #배달데이터는 시군구 데이터에 띄어쓰기가 되어있는 것이 있는데 비교를 위해 공백을 제거해 날씨데이터와 동일한 모양으로 만든다.
    #왜인지는 모르겠으나,,,창원시는 예외이다. 창원시는 띄어쓰기가 되어있다.
    if not SiGunGu.startswith('창원') :
      SiGunGu = SiGunGu.replace(" ","")
    if SiGunGu == '\\N': #세종특별자치시
      SiGunGu = '세종특별자치시'

    for Dong in level3_list:
      # 날씨데이터에 원하는 데이터가(배달데이터의 시군구) 있는지 확인. 경도와 위도에는 결측치가 없으므로 둘 중 하나라도 없으면 원하는 지역이 존재하지 않는다고 판단.
      if len(weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계']==Dong),'경도(초/100)']) != 1:
        no_list.append((Si_Do, SiGunGu, Dong)) #no_list에 있는 지역들은 카카오 API를 이용해서 찾을 예정
      else:
        x=weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계']==Dong),'경도(초/100)'].values[0]
        y=weather.loc[(weather['1단계']==Si_Do) & (weather['2단계']==SiGunGu) & (weather['3단계']==Dong),'위도(초/100)'].values[0]
        df_level3.loc[i] = [Si_Do, SiGunGu, Dong, x, y]
        i +=1

df_level3

        광역시도      시군구   읍면동   경도(초/100)  위도(초/100)
0        강원도      속초시    교동  128.584819  38.199786
1        강원도      속초시   금호동  128.590442  38.204186
2        강원도      속초시   조양동  128.593200  38.184881
3        강원도      원주시   단구동  127.962531  37.323353
4        강원도      원주시   일산동  127.944331  37.346825
..       ...      ...   ...         ...        ...
313    울산광역시      울주군   온양읍  129.283056  35.415903
314  세종특별자치시  세종특별자치시   소담동  127.301191  36.483522
315  세종특별자치시  세종특별자치시   다정동  127.247913  36.493977
316  세종특별자치시  세종특별자치시   고운동  127.236841  36.519776
317  세종특별자치시  세종특별자치시  조치원읍  127.298399  36.604528

[318 rows x 5 columns]

In [41]:
level1_list = list(df_level3['광역시도'].unique())
yes_df3=[]

for Si_Do in level1_list:
  level2_list = list(df_level3[df_level3['광역시도']==Si_Do]['시군구'].unique())
  for SiGunGu in level2_list:
    level3_list = list(df_level3[(df_level3['광역시도']==Si_Do) & (df_level3['시군구']==SiGunGu)]['읍면동'].unique()) #시군구를 날씨데이터 포맷으로 바꾸기 전 level3_list를 만들어야한다!
    for Dong in level3_list:
      yes_df3.append((Si_Do,SiGunGu,Dong))

print(len(yes_df3))
yes_df3[-20:]

318

[('대구광역시', '북구', '동천동'),
 ('부산광역시', '강서구', '녹산동'),
 ('부산광역시', '사하구', '당리동'),
 ('부산광역시', '기장군', '정관읍'),
 ('부산광역시', '동래구', '명륜동'),
 ('부산광역시', '남구', '용당동'),
 ('광주광역시', '동구', '학동'),
 ('광주광역시', '북구', '용봉동'),
 ('광주광역시', '북구', '신용동'),
 ('광주광역시', '북구', '양산동'),
 ('광주광역시', '서구', '치평동'),
 ('인천광역시', '부평구', '일신동'),
 ('울산광역시', '울주군', '언양읍'),
 ('울산광역시', '울주군', '삼남읍'),
 ('울산광역시', '울주군', '온산읍'),
 ('울산광역시', '울주군', '온양읍'),
 ('세종특별자치시', '세종특별자치시', '소담동'),
 ('세종특별자치시', '세종특별자치시', '다정동'),
 ('세종특별자치시', '세종특별자치시', '고운동'),
 ('세종특별자치시', '세종특별자치시', '조치원읍')]

In [42]:
print(len(no_list))
no_list[:20]

595

[('강원도', '속초시', '청학동'),
 ('강원도', '속초시', '중앙동'),
 ('강원도', '원주시', '태장동'),
 ('강원도', '원주시', '반곡동'),
 ('강원도', '원주시', '관설동'),
 ('강원도', '강릉시', '교동'),
 ('강원도', '춘천시', '후평동'),
 ('강원도', '춘천시', '효자동'),
 ('강원도', '춘천시', '소양로2가'),
 ('강원도', '춘천시', '요선동'),
 ('경기도', '고양시일산동구', '마두동'),
 ('경기도', '고양시일산동구', '백석동'),
 ('경기도', '고양시일산동구', '장항동'),
 ('경기도', '고양시일산동구', '풍동'),
 ('경기도', '고양시일산동구', '성석동'),
 ('경기도', '고양시일산서구', '일산동'),
 ('경기도', '고양시일산서구', '덕이동'),
 ('경기도', '고양시일산서구', '주엽동'),
 ('경기도', '광명시', '광명동'),
 ('경기도', '광명시', '철산동')]

In [43]:
total_list = yes_df3 + no_list
len(total_list)

913

In [44]:
df_level3[df_level3['광역시도']=='세종특별자치시']

        광역시도      시군구   읍면동   경도(초/100)  위도(초/100)
314  세종특별자치시  세종특별자치시   소담동  127.301191  36.483522
315  세종특별자치시  세종특별자치시   다정동  127.247913  36.493977
316  세종특별자치시  세종특별자치시   고운동  127.236841  36.519776
317  세종특별자치시  세종특별자치시  조치원읍  127.298399  36.604528

* 배달데이터 : 효자동2가
* 날씨데이터 : 효자2동
* 카카오 API에 검색할 때 : 상관없음

In [45]:
df[df['읍면동']=='효자동2가']

               날짜  시간대  광역시도      시군구    읍면동  배달건수
42     2019-08-01    0  전라북도  전주시 완산구  효자동2가     5
83     2019-08-01    1  전라북도  전주시 완산구  효자동2가     5
292    2019-08-01   11  전라북도  전주시 완산구  효자동2가     2
420    2019-08-01   12  전라북도  전주시 완산구  효자동2가     6
541    2019-08-01   13  전라북도  전주시 완산구  효자동2가     4
...           ...  ...   ...      ...    ...   ...
190002 2019-10-13   19  전라북도  전주시 완산구  효자동2가     6
191053 2019-10-14   10  전라북도  전주시 완산구  효자동2가     1
191264 2019-10-14   11  전라북도  전주시 완산구  효자동2가     1
191500 2019-10-14   12  전라북도  전주시 완산구  효자동2가     4
191732 2019-10-14   13  전라북도  전주시 완산구  효자동2가     3

[421 rows x 6 columns]

In [46]:
weather[weather['2단계']=='전주시완산구']

          행정구역코드   1단계     2단계    3단계  ...  위도(분)    위도(초)   경도(초/100)  위도(초/100)
2463  4511100000  전라북도  전주시완산구    NaN  ...     48  33.0800  127.121919  35.809189
2464  4511151000  전라북도  전주시완산구    중앙동  ...     49  13.9400  127.142711  35.820539
2465  4511153000  전라북도  전주시완산구    풍남동  ...     48  50.5000  127.150186  35.814028
2466  4511160500  전라북도  전주시완산구    노송동  ...     49  17.1400  127.160442  35.821428
2467  4511163500  전라북도  전주시완산구    완산동  ...     48  22.2800  127.136944  35.806189
2468  4511165000  전라북도  전주시완산구   동서학동  ...     48  23.4700  127.154331  35.806519
2469  4511166000  전라북도  전주시완산구   서서학동  ...     48  10.0000  127.150708  35.802778
2470  4511167100  전라북도  전주시완산구  중화산1동  ...     48  41.8000  127.126911  35.811611
2471  4511167200  전라북도  전주시완산구  중화산2동  ...     49   7.1300  127.118422  35.818647
2472  4511168000  전라북도  전주시완산구    서신동  ...     49  40.2500  127.117578  35.827847
2473  4511169100  전라북도  전주시완산구   평화1동  ...     47  42.3300  127.142556  35.795092
2474  4511169200  전라북도  전주시완산구   평화2동  ...     47   2.0000  127.136667  35.783889
2475  4511170100  전라북도  전주시완산구   삼천1동  ...     47  51.7800  127.124000  35.797717
2476  4511170200  전라북도  전주시완산구   삼천2동  ...     47  36.1400  127.124444  35.793372
2477  4511170300  전라북도  전주시완산구   삼천3동  ...     47  38.1100  127.116419  35.793919
2478  4511171100  전라북도  전주시완산구   효자1동  ...     48  10.3300  127.132122  35.802869
2479  4511171200  전라북도  전주시완산구   효자2동  ...     48  14.1600  127.121697  35.803933
2480  4511171300  전라북도  전주시완산구   효자3동  ...     48  12.8900  127.112386  35.803581
2481  4511171400  전라북도  전주시완산구   효자4동  ...     48  14.1696  127.097882  35.803936
2482  4511173000  전라북도  전주시완산구   효자5동  ...     48  34.8800  127.112386  35.809689

[20 rows x 14 columns]

### 2.3.2 open API 이용하기

> 카카오 주소 검색 API </br>
https://developers.kakao.com/docs/latest/ko/local/dev-guide#address-coord

In [47]:
df_level3

        광역시도      시군구   읍면동   경도(초/100)  위도(초/100)
0        강원도      속초시    교동  128.584819  38.199786
1        강원도      속초시   금호동  128.590442  38.204186
2        강원도      속초시   조양동  128.593200  38.184881
3        강원도      원주시   단구동  127.962531  37.323353
4        강원도      원주시   일산동  127.944331  37.346825
..       ...      ...   ...         ...        ...
313    울산광역시      울주군   온양읍  129.283056  35.415903
314  세종특별자치시  세종특별자치시   소담동  127.301191  36.483522
315  세종특별자치시  세종특별자치시   다정동  127.247913  36.493977
316  세종특별자치시  세종특별자치시   고운동  127.236841  36.519776
317  세종특별자치시  세종특별자치시  조치원읍  127.298399  36.604528

[318 rows x 5 columns]

In [48]:
print(len(no_list))
no_list[:20]

595

[('강원도', '속초시', '청학동'),
 ('강원도', '속초시', '중앙동'),
 ('강원도', '원주시', '태장동'),
 ('강원도', '원주시', '반곡동'),
 ('강원도', '원주시', '관설동'),
 ('강원도', '강릉시', '교동'),
 ('강원도', '춘천시', '후평동'),
 ('강원도', '춘천시', '효자동'),
 ('강원도', '춘천시', '소양로2가'),
 ('강원도', '춘천시', '요선동'),
 ('경기도', '고양시일산동구', '마두동'),
 ('경기도', '고양시일산동구', '백석동'),
 ('경기도', '고양시일산동구', '장항동'),
 ('경기도', '고양시일산동구', '풍동'),
 ('경기도', '고양시일산동구', '성석동'),
 ('경기도', '고양시일산서구', '일산동'),
 ('경기도', '고양시일산서구', '덕이동'),
 ('경기도', '고양시일산서구', '주엽동'),
 ('경기도', '광명시', '광명동'),
 ('경기도', '광명시', '철산동')]

In [49]:
url = 'https://dapi.kakao.com/v2/local/search/address.xml' #address.{format} 요청시 format을 지정하지 않으면 json이 기본이다. 응답은 xml과 json형태를 제공한다.
kakao_header = {'Authorization' : 'KakaoAK 215e6c855eb1a7c49e991aab5a007f8a' }
params ={'query' : ''}
i = 318 # df_level3의 마지막 index는 317

In [50]:
for SiDo, SiGunGu, Dong in no_list:
  params['query'] = SiDo +  " " + Dong #쿼리를 바꿔가며 요청을 보낸다.
  response = requests.get(url, headers=kakao_header, params=params)
  soup = BeautifulSoup(response.text, "lxml")

  df_level3.loc[i] = [SiDo, SiGunGu, Dong, soup.find("x").get_text(), soup.find("y").get_text()]
  i +=1

df_level3

      광역시도  시군구  읍면동         경도(초/100)         위도(초/100)
0      강원도  속초시   교동           128.585           38.1998
1      강원도  속초시  금호동            128.59           38.2042
2      강원도  속초시  조양동           128.593           38.1849
3      강원도  원주시  단구동           127.963           37.3234
4      강원도  원주시  일산동           127.944           37.3468
..     ...  ...  ...               ...               ...
908  울산광역시   북구  중산동  129.350843351972  35.6637974175003
909  울산광역시   북구  매곡동  129.367253622611  35.6440061479904
910  울산광역시   북구  천곡동   129.32694539328  35.6469004913624
911  울산광역시  울주군  삼남면  129.108532992087  35.5409868486272
912  울산광역시   중구  장현동  129.335375932331  35.5889728218739

[913 rows x 5 columns]

In [51]:
level1_list = list(df_level3['광역시도'].unique())
new_df3=[]

for Si_Do in level1_list:
  level2_list = list(df_level3[df_level3['광역시도']==Si_Do]['시군구'].unique())
  for SiGunGu in level2_list:
    level3_list = list(df_level3[(df_level3['광역시도']==Si_Do) & (df_level3['시군구']==SiGunGu)]['읍면동'].unique()) #시군구를 날씨데이터 포맷으로 바꾸기 전 level3_list를 만들어야한다!
    for Dong in level3_list:
      new_df3.append((Si_Do,SiGunGu,Dong))

print(len(new_df3))
new_df3[-20:]

913

[('인천광역시', '미추홀구', '주안동'),
 ('인천광역시', '미추홀구', '도화동'),
 ('인천광역시', '계양구', '동양동'),
 ('인천광역시', '계양구', '장기동'),
 ('울산광역시', '울주군', '언양읍'),
 ('울산광역시', '울주군', '삼남읍'),
 ('울산광역시', '울주군', '온산읍'),
 ('울산광역시', '울주군', '온양읍'),
 ('울산광역시', '울주군', '삼남면'),
 ('울산광역시', '북구', '화봉동'),
 ('울산광역시', '북구', '신천동'),
 ('울산광역시', '북구', '연암동'),
 ('울산광역시', '북구', '중산동'),
 ('울산광역시', '북구', '매곡동'),
 ('울산광역시', '북구', '천곡동'),
 ('울산광역시', '중구', '장현동'),
 ('세종특별자치시', '세종특별자치시', '소담동'),
 ('세종특별자치시', '세종특별자치시', '다정동'),
 ('세종특별자치시', '세종특별자치시', '고운동'),
 ('세종특별자치시', '세종특별자치시', '조치원읍')]

In [52]:
total_list

[('강원도', '속초시', '교동'),
 ('강원도', '속초시', '금호동'),
 ('강원도', '속초시', '조양동'),
 ('강원도', '원주시', '단구동'),
 ('강원도', '원주시', '일산동'),
 ('강원도', '원주시', '단계동'),
 ('강원도', '원주시', '무실동'),
 ('강원도', '원주시', '지정면'),
 ('강원도', '삼척시', '교동'),
 ('강원도', '삼척시', '남양동'),
 ('강원도', '강릉시', '송정동'),
 ('강원도', '철원군', '서면'),
 ('강원도', '철원군', '동송읍'),
 ('강원도', '춘천시', '동내면'),
 ('강원도', '춘천시', '석사동'),
 ('강원도', '춘천시', '퇴계동'),
 ('경기도', '고양시일산동구', '식사동'),
 ('경기도', '고양시일산동구', '정발산동'),
 ('경기도', '고양시일산동구', '중산동'),
 ('경기도', '고양시일산서구', '탄현동'),
 ('경기도', '고양시일산서구', '대화동'),
 ('경기도', '시흥시', '목감동'),
 ('경기도', '시흥시', '은행동'),
 ('경기도', '시흥시', '신천동'),
 ('경기도', '시흥시', '대야동'),
 ('경기도', '시흥시', '월곶동'),
 ('경기도', '시흥시', '장곡동'),
 ('경기도', '시흥시', '능곡동'),
 ('경기도', '시흥시', '매화동'),
 ('경기도', '의정부시', '가능동'),
 ('경기도', '의정부시', '녹양동'),
 ('경기도', '의정부시', '장암동'),
 ('경기도', '포천시', '소흘읍'),
 ('경기도', '포천시', '선단동'),
 ('경기도', '포천시', '신북면'),
 ('경기도', '포천시', '일동면'),
 ('경기도', '포천시', '군내면'),
 ('경기도', '김포시', '풍무동'),
 ('경기도', '김포시', '사우동'),
 ('경기도', '김포시', '고촌읍'),
 ('경기도', '김포시', '양촌읍'),
 ('경기도', '김포시', '구래동'),
 ('경기도', '남양주시', '별내동'),
 ('경기도', '남양주시', '오남읍'),
 ('경기도', '남양주시', '평내동'),
 ('경기도', '남양주시', '진접읍'),
 ('경기도', '남양주시', '호평동'),
 ('경기도', '남양주시', '진건읍'),
 ('경기도', '남양주시', '퇴계원읍'),
 ('경기도', '남양주시', '와부읍'),
 ('경기도', '안산시상록구', '사동'),
 ('경기도', '안산시상록구', '일동'),
 ('경기도', '안산시상록구', '이동'),
 ('경기도', '안산시상록구', '부곡동'),
 ('경기도', '안산시상록구', '월피동'),
 ('경기도', '부천시', '소사본동'),
 ('경기도', '부천시', '상동'),
 ('경기도', '부천시', '중동'),
 ('경기도', '부천시', '심곡동'),
 ('경기도', '부천시', '오정동'),
 ('경기도', '양주시', '백석읍'),
 ('경기도', '양주시', '은현면'),
 ('경기도', '양주시', '광적면'),
 ('경기도', '양주시', '남면'),
 ('경기도', '양주시', '장흥면'),
 ('경기도', '용인시처인구', '포곡읍'),
 ('경기도', '용인시처인구', '모현읍'),
 ('경기도', '용인시처인구', '남사읍'),
 ('경기도', '용인시처인구', '이동읍'),
 ('경기도', '파주시', '문산읍'),
 ('경기도', '파주시', '파주읍'),
 ('경기도', '화성시', '향남읍'),
 ('경기도', '화성시', '새솔동'),
 ('경기도', '화성시', '봉담읍'),
 ('경기도', '화성시', '남양읍'),
 ('경기도', '화성시', '우정읍'),
 ('경기도', '화성시', '장안면'),
 ('경기도', '연천군', '전곡읍'),
 ('경기도', '평택시', '안중읍'),
 ('경기도', '평택시', '지산동'),
 ('경기도', '평택시', '서정동'),
 ('경기도', '평택시', '청북읍'),
 ('경기도', '평택시', '세교동'),
 ('경기도', '평택시', '현덕면'),
 ('경기도', '수원시권선구', '구운동'),
 ('경기도', '고양시덕양구', '주교동'),
 ('경기도', '고양시덕양구', '삼송동'),
 ('경기도', '양평군', '양평읍'),
 ('경기도', '성남시수정구', '복정동'),
 ('경기도', '성남시수정구', '양지동'),
 ('경기도', '여주시', '강천면'),
 ('경기도', '동두천시', '송내동'),
 ('경기도', '동두천시', '보산동'),
 ('경기도', '동두천시', '상패동'),
 ('경기도', '구리시', '갈매동'),
 ('경기도', '안양시동안구', '평촌동'),
 ('경기도', '광주시', '오포읍'),
 ('경기도', '광주시', '경안동'),
 ('경기도', '광주시', '탄벌동'),
 ('경기도', '광주시', '송정동'),
 ('경기도', '성남시중원구', '성남동'),
 ('경기도', '성남시중원구', '중앙동'),
 ('경기도', '성남시중원구', '하대원동'),
 ('경기도', '성남시중원구', '도촌동'),
 ('경기도', '하남시', '초이동'),
 ('경기도', '이천시', '장호원읍'),
 ('경기도', '이천시', '창전동'),
 ('경기도', '이천시', '중리동'),
 ('경기도', '이천시', '관고동'),
 ('경기도', '이천시', '증포동'),
 ('경기도', '이천시', '신둔면'),
 ('경기도', '이천시', '부발읍'),
 ('경기도', '안산시단원구', '초지동'),
 ('경기도', '안산시단원구', '고잔동'),
 ('경상남도', '김해시', '주촌면'),
 ('경상남도', '김해시', '부원동'),
 ('경상남도', '김해시', '동상동'),
 ('경상남도', '진주시', '신안동'),
 ('경상남도', '진주시', '평거동'),
 ('경상남도', '진주시', '이현동'),
 ('경상남도', '진주시', '상봉동'),
 ('경상남도', '진주시', '상대동'),
 ('경상남도', '진주시', '상평동'),
 ('경상남도', '진주시', '하대동'),
 ('경상남도', '진주시', '판문동'),
 ('경상남도', '진주시', '금산면'),
 ('경상남도', '진주시', '충무공동'),
 ('경상남도', '진주시', '내동면'),
 ('경상남도', '창원시 마산회원구', '석전동'),
 ('경상남도', '창원시 마산합포구', '산호동'),
 ('경상남도', '창원시 마산합포구', '오동동'),
 ('경상남도', '창원시 마산합포구', '교방동'),
 ('경상남도', '함양군', '함양읍'),
 ('경상남도', '창녕군', '창녕읍'),
 ('경상남도', '사천시', '향촌동'),
 ('경상남도', '사천시', '사천읍'),
 ('경상남도', '양산시', '물금읍'),
 ('경상남도', '창원시 성산구', '상남동'),
 ('경상남도', '거제시', '고현동'),
 ('경상남도', '거제시', '장평동'),
 ('대전광역시', '동구', '성남동'),
 ('대전광역시', '동구', '자양동'),
 ('대전광역시', '동구', '용운동'),
 ('대전광역시', '동구', '대동'),
 ('대전광역시', '동구', '용전동'),
 ('대전광역시', '동구', '삼성동'),
 ('대전광역시', '동구', '홍도동'),
 ('대전광역시', '서구', '탄방동'),
 ('대전광역시', '대덕구', '비래동'),
 ('대전광역시', '대덕구', '송촌동'),
 ('대전광역시', '대덕구', '오정동'),
 ('대전광역시', '중구', '대흥동'),
 ('서울특별시', '구로구', '가리봉동'),
 ('서울특별시', '구로구', '항동'),
 ('서울특별시', '금천구', '가산동'),
 ('서울특별시', '마포구', '연남동'),
 ('서울특별시', '마포구', '서교동'),
 ('서울특별시', '마포구', '공덕동'),
 ('서울특별시', '영등포구', '도림동'),
 ('서울특별시', '영등포구', '영등포동'),
 ('서울특별시', '은평구', '대조동'),
 ('서울특별시', '은평구', '역촌동'),
 ('서울특별시', '은평구', '구산동'),
 ('서울특별시', '강서구', '염창동'),
 ('서울특별시', '강서구', '공항동'),
 ('서울특별시', '강북구', '미아동'),
 ('서울특별시', '동작구', '대방동'),
 ('서울특별시', '동작구', '흑석동'),
 ('서울특별시', '관악구', '신림동'),
 ('서울특별시', '관악구', '남현동'),
 ('서울특별시', '송파구', '오금동'),
 ('서울특별시', '송파구', '석촌동'),
 ('서울특별시', '송파구', '삼전동'),
 ('서울특별시', '강남구', '신사동'),
 ('서울특별시', '강남구', '청담동'),
 ('서울특별시', '서초구', '잠원동'),
 ('서울특별시', '용산구', '후암동'),
 ('서울특별시', '용산구', '한남동'),
 ('서울특별시', '강동구', '길동'),
 ('서울특별시', '중구', '중림동'),
 ('서울특별시', '중구', '신당동'),
 ('서울특별시', '성동구', '마장동'),
 ('전라남도', '순천시', '해룡면'),
 ('전라남도', '나주시', '빛가람동'),
 ('전라남도', '나주시', '송월동'),
 ('전라남도', '나주시', '성북동'),
 ('전라남도', '나주시', '남평읍'),
 ('전라남도', '여수시', '문수동'),
 ('전라남도', '여수시', '소라면'),
 ('전라남도', '여수시', '여서동'),
 ('전라남도', '광양시', '광양읍'),
 ('전라남도', '광양시', '광영동'),
 ('전라남도', '목포시', '옥암동'),
 ('전라북도', '군산시', '수송동'),
 ('전라북도', '군산시', '신풍동'),
 ('전라북도', '군산시', '소룡동'),
 ('전라북도', '군산시', '조촌동'),
 ('전라북도', '군산시', '경암동'),
 ('전라북도', '군산시', '월명동'),
 ('전라북도', '군산시', '구암동'),
 ('전라북도', '군산시', '옥산면'),
 ('전라북도', '군산시', '삼학동'),
 ('전라북도', '군산시', '개정면'),
 ('전라북도', '군산시', '서수면'),
 ('전라북도', '군산시', '옥구읍'),
 ('전라북도', '익산시', '신동'),
 ('전라북도', '익산시', '남중동'),
 ('전라북도', '익산시', '동산동'),
 ('전라북도', '김제시', '요촌동'),
 ('전라북도', '정읍시', '수성동'),
 ('전라북도', '정읍시', '시기동'),
 ('전라북도', '정읍시', '농소동'),
 ('제주특별자치도', '서귀포시', '동홍동'),
 ('제주특별자치도', '서귀포시', '서홍동'),
 ('제주특별자치도', '서귀포시', '성산읍'),
 ('제주특별자치도', '서귀포시', '남원읍'),
 ('제주특별자치도', '서귀포시', '중문동'),
 ('제주특별자치도', '서귀포시', '안덕면'),
 ('제주특별자치도', '서귀포시', '표선면'),
 ('제주특별자치도', '제주시', '구좌읍'),
 ('제주특별자치도', '제주시', '노형동'),
 ('제주특별자치도', '제주시', '한림읍'),
 ('제주특별자치도', '제주시', '건입동'),
 ('제주특별자치도', '제주시', '애월읍'),
 ('제주특별자치도', '제주시', '조천읍'),
 ('충청남도', '서산시', '대산읍'),
 ('충청남도', '서산시', '성연면'),
 ('충청남도', '서산시', '수석동'),
 ('충청남도', '서산시', '지곡면'),
 ('충청남도', '서산시', '석남동'),
 ('충청남도', '서산시', '인지면'),
 ('충청남도', '천안시동남구', '봉명동'),
 ('충청남도', '천안시동남구', '신방동'),
 ('충청남도', '천안시동남구', '목천읍'),
 ('충청남도', '홍성군', '홍성읍'),
 ('충청남도', '천안시서북구', '불당동'),
 ('충청남도', '아산시', '둔포면'),
 ('충청남도', '논산시', '취암동'),
 ('충청남도', '논산시', '부창동'),
 ('충청북도', '제천시', '신백동'),
 ('충청북도', '제천시', '청전동'),
 ('충청북도', '제천시', '화산동'),
 ('충청북도', '제천시', '교동'),
 ('충청북도', '제천시', '봉양읍'),
 ('충청북도', '청주시청원구', '우암동'),
 ('충청북도', '청주시청원구', '오창읍'),
 ('충청북도', '충주시', '중앙탑면'),
 ('충청북도', '충주시', '문화동'),
 ('충청북도', '충주시', '용산동'),
 ('충청북도', '충주시', '연수동'),
 ('충청북도', '청주시흥덕구', '가경동'),
 ('충청북도', '음성군', '감곡면'),
 ('충청북도', '단양군', '매포읍'),
 ('충청북도', '단양군', '단양읍'),
 ('충청북도', '괴산군', '괴산읍'),
 ('충청북도', '증평군', '증평읍'),
 ('경상북도', '안동시', '태화동'),
 ('경상북도', '안동시', '옥동'),
 ('경상북도', '안동시', '용상동'),
 ('경상북도', '안동시', '평화동'),
 ('경상북도', '안동시', '명륜동'),
 ('경상북도', '안동시', '안기동'),
 ('경상북도', '안동시', '풍천면'),
 ('경상북도', '구미시', '공단동'),
 ('경상북도', '구미시', '고아읍'),
 ('경상북도', '포항시북구', '흥해읍'),
 ('경상북도', '경주시', '성건동'),
 ('경상북도', '경주시', '용강동'),
 ('경상북도', '경주시', '현곡면'),
 ('경상북도', '경주시', '황성동'),
 ('경상북도', '경주시', '동천동'),
 ('경상북도', '경주시', '황오동'),
 ('경상북도', '경주시', '외동읍'),
 ('경상북도', '경주시', '황남동'),
 ('경상북도', '칠곡군', '석적읍'),
 ('경상북도', '칠곡군', '북삼읍'),
 ('경상북도', '칠곡군', '왜관읍'),
 ('경상북도', '칠곡군', '기산면'),
 ('경상북도', '영천시', '완산동'),
 ('경상북도', '경산시', '진량읍'),
 ('경상북도', '경산시', '중방동'),
 ('경상북도', '경산시', '자인면'),
 ('경상북도', '경산시', '하양읍'),
 ('경상북도', '경산시', '와촌면'),
 ('경상북도', '예천군', '호명면'),
 ('경상북도', '의성군', '의성읍'),
 ('경상북도', '봉화군', '봉화읍'),
 ('대구광역시', '달서구', '감삼동'),
 ('대구광역시', '달서구', '신당동'),
 ('대구광역시', '달서구', '본리동'),
 ('대구광역시', '달서구', '도원동'),
 ('대구광역시', '달성군', '다사읍'),
 ('대구광역시', '달성군', '현풍읍'),
 ('대구광역시', '달성군', '구지면'),
 ('대구광역시', '달성군', '유가읍'),
 ('대구광역시', '수성구', '두산동'),
 ('대구광역시', '수성구', '상동'),
 ('대구광역시', '동구', '방촌동'),
 ('대구광역시', '북구', '동천동'),
 ('부산광역시', '강서구', '녹산동'),
 ('부산광역시', '사하구', '당리동'),
 ('부산광역시', '기장군', '정관읍'),
 ('부산광역시', '동래구', '명륜동'),
 ('부산광역시', '남구', '용당동'),
 ('광주광역시', '동구', '학동'),
 ('광주광역시', '북구', '용봉동'),
 ('광주광역시', '북구', '신용동'),
 ('광주광역시', '북구', '양산동'),
 ('광주광역시', '서구', '치평동'),
 ('인천광역시', '부평구', '일신동'),
 ('울산광역시', '울주군', '언양읍'),
 ('울산광역시', '울주군', '삼남읍'),
 ('울산광역시', '울주군', '온산읍'),
 ('울산광역시', '울주군', '온양읍'),
 ('세종특별자치시', '세종특별자치시', '소담동'),
 ('세종특별자치시', '세종특별자치시', '다정동'),
 ('세종특별자치시', '세종특별자치시', '고운동'),
 ('세종특별자치시', '세종특별자치시', '조치원읍'),
 ('강원도', '속초시', '청학동'),
 ('강원도', '속초시', '중앙동'),
 ('강원도', '원주시', '태장동'),
 ('강원도', '원주시', '반곡동'),
 ('강원도', '원주시', '관설동'),
 ('강원도', '강릉시', '교동'),
 ('강원도', '춘천시', '후평동'),
 ('강원도', '춘천시', '효자동'),
 ('강원도', '춘천시', '소양로2가'),
 ('강원도', '춘천시', '요선동'),
 ('경기도', '고양시일산동구', '마두동'),
 ('경기도', '고양시일산동구', '백석동'),
 ('경기도', '고양시일산동구', '장항동'),
 ('경기도', '고양시일산동구', '풍동'),
 ('경기도', '고양시일산동구', '성석동'),
 ('경기도', '고양시일산서구', '일산동'),
 ('경기도', '고양시일산서구', '덕이동'),
 ('경기도', '고양시일산서구', '주엽동'),
 ('경기도', '광명시', '광명동'),
 ('경기도', '광명시', '철산동'),
 ('경기도', '광명시', '하안동'),
 ('경기도', '광명시', '소하동'),
 ('경기도', '광명시', '일직동'),
 ('경기도', '광명시', '노온사동'),
 ('경기도', '시흥시', '조남동'),
 ('경기도', '시흥시', '산현동'),
 ('경기도', '시흥시', '논곡동'),
 ('경기도', '시흥시', '장현동'),
 ('경기도', '시흥시', '정왕동'),
 ('경기도', '시흥시', '계수동'),
 ('경기도', '시흥시', '물왕동'),
 ('경기도', '시흥시', '미산동'),
 ('경기도', '시흥시', '포동'),
 ('경기도', '시흥시', '광석동'),
 ('경기도', '시흥시', '도창동'),
 ('경기도', '의정부시', '금오동'),
 ('경기도', '의정부시', '민락동'),
 ('경기도', '의정부시', '신곡동'),
 ('경기도', '의정부시', '용현동'),
 ('경기도', '의정부시', '의정부동'),
 ('경기도', '의정부시', '호원동'),
 ('경기도', '의정부시', '낙양동'),
 ('경기도', '의정부시', '산곡동'),
 ('경기도', '의정부시', '고산동'),
 ('경기도', '포천시', '신읍동'),
 ('경기도', '포천시', '어룡동'),
 ('경기도', '김포시', '감정동'),
 ('경기도', '남양주시', '다산동'),
 ('경기도', '안산시상록구', '본오동'),
 ('경기도', '안산시상록구', '수암동'),
 ('경기도', '부천시', '괴안동'),
 ('경기도', '부천시', '옥길동'),
 ('경기도', '부천시', '범박동'),
 ('경기도', '부천시', '역곡동'),
 ('경기도', '부천시', '삼정동'),
 ('경기도', '부천시', '약대동'),
 ('경기도', '부천시', '원미동'),
 ('경기도', '부천시', '춘의동'),
 ('경기도', '부천시', '도당동'),
 ('경기도', '부천시', '송내동'),
 ('경기도', '부천시', '심곡본동'),
 ('경기도', '부천시', '소사동'),
 ('경기도', '부천시', '내동'),
 ('경기도', '부천시', '고강동'),
 ('경기도', '부천시', '원종동'),
 ('경기도', '양주시', '덕계동'),
 ('경기도', '양주시', '옥정동'),
 ('경기도', '양주시', '삼숭동'),
 ('경기도', '양주시', '광사동'),
 ('경기도', '양주시', '덕정동'),
 ('경기도', '양주시', '고암동'),
 ('경기도', '양주시', '봉양동'),
 ('경기도', '양주시', '회정동'),
 ('경기도', '양주시', '산북동'),
 ('경기도', '양주시', '고읍동'),
 ('경기도', '용인시처인구', '남사면'),
 ('경기도', '용인시처인구', '유방동'),
 ('경기도', '파주시', '동패동'),
 ('경기도', '파주시', '와동동'),
 ('경기도', '파주시', '야당동'),
 ('경기도', '파주시', '목동동'),
 ('경기도', '파주시', '문발동'),
 ('경기도', '파주시', '금촌동'),
 ('경기도', '화성시', '산척동'),
 ('경기도', '화성시', '오산동'),
 ('경기도', '화성시', '병점동'),
 ('경기도', '화성시', '능동'),
 ('경기도', '화성시', '반송동'),
 ('경기도', '평택시', '신장동'),
 ('경기도', '평택시', '이충동'),
 ('경기도', '평택시', '독곡동'),
 ('경기도', '평택시', '장당동'),
 ('경기도', '수원시권선구', '금곡동'),
 ('경기도', '수원시권선구', '호매실동'),
 ('경기도', '수원시장안구', '천천동'),
 ('경기도', '고양시덕양구', '성사동'),
 ('경기도', '고양시덕양구', '토당동'),
 ('경기도', '고양시덕양구', '행신동'),
 ('경기도', '고양시덕양구', '화정동'),
 ('경기도', '고양시덕양구', '원흥동'),
 ('경기도', '고양시덕양구', '도내동'),
 ('경기도', '고양시덕양구', '용두동'),
 ('경기도', '고양시덕양구', '동산동'),
 ('경기도', '고양시덕양구', '신원동'),
 ('경기도', '성남시수정구', '신흥동'),
 ('경기도', '성남시수정구', '태평동'),
 ('경기도', '성남시수정구', '수진동'),
 ('경기도', '여주시', '홍문동'),
 ('경기도', '동두천시', '지행동'),
 ('경기도', '동두천시', '생연동'),
 ('경기도', '동두천시', '동두천동'),
 ('경기도', '동두천시', '안흥동'),
 ('경기도', '안양시만안구', '석수동'),
 ('경기도', '안양시만안구', '안양동'),
 ('경기도', '안양시만안구', '박달동'),
 ('경기도', '용인시수지구', '풍덕천동'),
 ('경기도', '용인시기흥구', '중동'),
 ('경기도', '안양시동안구', '호계동'),
 ('경기도', '안양시동안구', '관양동'),
 ('경기도', '광주시', '태전동'),
 ('경기도', '광주시', '목동'),
 ('경기도', '광주시', '중대동'),
 ('경기도', '광주시', '장지동'),
 ('경기도', '광주시', '역동'),
 ('경기도', '수원시팔달구', '화서동'),
 ('경기도', '오산시', '원동'),
 ('경기도', '오산시', '청학동'),
 ('경기도', '성남시중원구', '금광동'),
 ('경기도', '성남시중원구', '상대원동'),
 ('경기도', '성남시중원구', '은행동'),
 ('경기도', '성남시중원구', '여수동'),
 ('경기도', '이천시', '송정동'),
 ('경기도', '이천시', '안흥동'),
 ('경기도', '성남시분당구', '야탑동'),
 ('경기도', '군포시', '부곡동'),
 ('경기도', '군포시', '도마교동'),
 ('경기도', '의왕시', '초평동'),
 ('경기도', '의왕시', '삼동'),
 ('경기도', '의왕시', '월암동'),
 ('경상남도', '김해시', '삼방동'),
 ('경상남도', '김해시', '삼정동'),
 ('경상남도', '김해시', '구산동'),
 ('경상남도', '김해시', '어방동'),
 ('경상남도', '김해시', '외동'),
 ('경상남도', '김해시', '봉황동'),
 ('경상남도', '김해시', '삼계동'),
 ('경상남도', '김해시', '내동'),
 ('경상남도', '김해시', '대성동'),
 ('경상남도', '김해시', '서상동'),
 ('경상남도', '김해시', '흥동'),
 ('경상남도', '김해시', '전하동'),
 ('경상남도', '진주시', '계동'),
 ('경상남도', '진주시', '본성동'),
 ('경상남도', '진주시', '봉곡동'),
 ('경상남도', '진주시', '동성동'),
 ('경상남도', '진주시', '중안동'),
 ('경상남도', '진주시', '인사동'),
 ('경상남도', '진주시', '장대동'),
 ('경상남도', '진주시', '칠암동'),
 ('경상남도', '진주시', '대안동'),
 ('경상남도', '진주시', '옥봉동'),
 ('경상남도', '진주시', '수정동'),
 ('경상남도', '진주시', '주약동'),
 ('경상남도', '진주시', '평안동'),
 ('경상남도', '진주시', '가좌동'),
 ('경상남도', '진주시', '망경동'),
 ('경상남도', '진주시', '초전동'),
 ('경상남도', '진주시', '강남동'),
 ('경상남도', '진주시', '호탄동'),
 ('경상남도', '진주시', '남성동'),
 ('경상남도', '진주시', '봉래동'),
 ('경상남도', '창원시 마산회원구', '양덕동'),
 ('경상남도', '창원시 마산회원구', '합성동'),
 ('경상남도', '창원시 마산회원구', '구암동'),
 ('경상남도', '창원시 마산회원구', '회원동'),
 ('경상남도', '창원시 마산합포구', '상남동'),
 ('경상남도', '창원시 마산합포구', '동성동'),
 ('경상남도', '창원시 마산합포구', '신포동1가'),
 ('경상남도', '창원시 마산합포구', '월포동'),
 ('경상남도', '창원시 마산합포구', '신포동2가'),
 ('경상남도', '창원시 마산합포구', '남성동'),
 ('경상남도', '창원시 마산합포구', '중성동'),
 ('경상남도', '창원시 마산합포구', '성호동'),
 ('경상남도', '창원시 마산합포구', '창동'),
 ('경상남도', '사천시', '벌리동'),
 ('경상남도', '사천시', '송포동'),
 ('경상남도', '창원시 의창구', '봉곡동'),
 ('경상남도', '거제시', '수월동'),
 ('경상남도', '거제시', '옥포동'),
 ('경상남도', '거제시', '양정동'),
 ('대전광역시', '동구', '가양동'),
 ('대전광역시', '동구', '판암동'),
 ('대전광역시', '동구', '신흥동'),
 ('대전광역시', '동구', '가오동'),
 ('대전광역시', '동구', '소제동'),
 ('대전광역시', '유성구', '지족동'),
 ('대전광역시', '유성구', '봉명동'),
 ('대전광역시', '서구', '갈마동'),
 ('대전광역시', '서구', '월평동'),
 ('대전광역시', '중구', '선화동'),
 ('서울특별시', '구로구', '개봉동'),
 ('서울특별시', '구로구', '고척동'),
 ('서울특별시', '구로구', '구로동'),
 ('서울특별시', '구로구', '오류동'),
 ('서울특별시', '구로구', '궁동'),
 ('서울특별시', '구로구', '온수동'),
 ('서울특별시', '구로구', '천왕동'),
 ('서울특별시', '금천구', '독산동'),
 ('서울특별시', '금천구', '시흥동'),
 ('서울특별시', '마포구', '망원동'),
 ('서울특별시', '마포구', '성산동'),
 ('서울특별시', '마포구', '동교동'),
 ('서울특별시', '양천구', '목동'),
 ('서울특별시', '양천구', '신정동'),
 ('서울특별시', '양천구', '신월동'),
 ('서울특별시', '영등포구', '대림동'),
 ('서울특별시', '영등포구', '신길동'),
 ('서울특별시', '영등포구', '영등포동1가'),
 ('서울특별시', '영등포구', '여의도동'),
 ('서울특별시', '영등포구', '문래동3가'),
 ('서울특별시', '영등포구', '당산동4가'),
 ('서울특별시', '영등포구', '당산동5가'),
 ('서울특별시', '영등포구', '영등포동7가'),
 ('서울특별시', '영등포구', '당산동'),
 ('서울특별시', '영등포구', '양평동4가'),
 ('서울특별시', '영등포구', '영등포동8가'),
 ('서울특별시', '영등포구', '당산동3가'),
 ('서울특별시', '영등포구', '당산동1가'),
 ('서울특별시', '영등포구', '영등포동3가'),
 ('서울특별시', '영등포구', '당산동2가'),
 ('서울특별시', '영등포구', '문래동5가'),
 ('서울특별시', '은평구', '갈현동'),
 ('서울특별시', '은평구', '신사동'),
 ('서울특별시', '은평구', '불광동'),
 ('서울특별시', '강서구', '화곡동'),
 ('서울특별시', '강서구', '방화동'),
 ('서울특별시', '강서구', '등촌동'),
 ('서울특별시', '강서구', '마곡동'),
 ('서울특별시', '강서구', '내발산동'),
 ('서울특별시', '강서구', '가양동'),
 ('서울특별시', '도봉구', '방학동'),
 ('서울특별시', '도봉구', '도봉동'),
 ('서울특별시', '도봉구', '창동'),
 ('서울특별시', '도봉구', '쌍문동'),
 ('서울특별시', '성북구', '정릉동'),
 ('서울특별시', '성북구', '길음동'),
 ('서울특별시', '성북구', '동소문동1가'),
 ('서울특별시', '강북구', '수유동'),
 ('서울특별시', '노원구', '상계동'),
 ('서울특별시', '노원구', '공릉동'),
 ('서울특별시', '노원구', '중계동'),
 ('서울특별시', '노원구', '월계동'),
 ('서울특별시', '노원구', '하계동'),
 ('서울특별시', '동작구', '신대방동'),
 ('서울특별시', '동작구', '노량진동'),
 ('서울특별시', '동작구', '상도동'),
 ('서울특별시', '동작구', '사당동'),
 ('서울특별시', '동작구', '상도1동'),
 ('서울특별시', '서대문구', '홍은동'),
 ('서울특별시', '서대문구', '남가좌동'),
 ('서울특별시', '서대문구', '충정로3가'),
 ('서울특별시', '관악구', '봉천동'),
 ('서울특별시', '송파구', '송파동'),
 ('서울특별시', '송파구', '문정동'),
 ('서울특별시', '송파구', '방이동'),
 ('서울특별시', '송파구', '가락동'),
 ('서울특별시', '송파구', '잠실동'),
 ('서울특별시', '강남구', '삼성동'),
 ('서울특별시', '강남구', '논현동'),
 ('서울특별시', '강남구', '대치동'),
 ('서울특별시', '강남구', '역삼동'),
 ('서울특별시', '강남구', '도곡동'),
 ('서울특별시', '강남구', '개포동'),
 ('서울특별시', '강남구', '자곡동'),
 ('서울특별시', '서초구', '반포동'),
 ('서울특별시', '서초구', '서초동'),
 ('서울특별시', '서초구', '양재동'),
 ('서울특별시', '서초구', '방배동'),
 ('서울특별시', '용산구', '동빙고동'),
 ('서울특별시', '용산구', '서계동'),
 ('서울특별시', '용산구', '청파동1가'),
 ('서울특별시', '용산구', '동자동'),
 ('서울특별시', '용산구', '청파동2가'),
 ('서울특별시', '용산구', '갈월동'),
 ('서울특별시', '동대문구', '장안동'),
 ('서울특별시', '강동구', '성내동'),
 ('서울특별시', '강동구', '천호동'),
 ('서울특별시', '강동구', '암사동'),
 ('서울특별시', '강동구', '고덕동'),
 ('서울특별시', '강동구', '명일동'),
 ('서울특별시', '중랑구', '묵동'),
 ('서울특별시', '중랑구', '중화동'),
 ('서울특별시', '중랑구', '신내동'),
 ('서울특별시', '중구', '만리동1가'),
 ('서울특별시', '중구', '만리동2가'),
 ('전라남도', '순천시', '조례동'),
 ('전라남도', '순천시', '연향동'),
 ('전라남도', '순천시', '왕지동'),
 ('전라남도', '나주시', '중앙동'),
 ('전라남도', '나주시', '대호동'),
 ('전라남도', '나주시', '금계동'),
 ('전라남도', '나주시', '남내동'),
 ('전라남도', '나주시', '금성동'),
 ('전라남도', '나주시', '죽림동'),
 ('전라남도', '나주시', '삼도동'),
 ('전라남도', '나주시', '서내동'),
 ('전라남도', '나주시', '과원동'),
 ('전라남도', '여수시', '소호동'),
 ('전라남도', '여수시', '웅천동'),
 ('전라남도', '여수시', '신기동'),
 ('전라남도', '여수시', '안산동'),
 ('전라남도', '여수시', '학동'),
 ('전라남도', '여수시', '화장동'),
 ('전라남도', '여수시', '교동'),
 ('전라남도', '여수시', '덕충동'),
 ('전라남도', '광양시', '중동'),
 ('전라남도', '광양시', '마동'),
 ('전라남도', '광양시', '도이동'),
 ('전라북도', '전주시완산구', '효자동2가'),
 ('전라북도', '전주시완산구', '효자동3가'),
 ('전라북도', '전주시완산구', '중화산동2가'),
 ('전라북도', '전주시완산구', '효자동1가'),
 ('전라북도', '군산시', '지곡동'),
 ('전라북도', '군산시', '나운동'),
 ('전라북도', '군산시', '산북동'),
 ('전라북도', '군산시', '장재동'),
 ('전라북도', '군산시', '문화동'),
 ('전라북도', '군산시', '중앙로1가'),
 ('전라북도', '군산시', '미장동'),
 ('전라북도', '군산시', '대명동'),
 ('전라북도', '군산시', '경장동'),
 ('전라북도', '군산시', '죽성동'),
 ('전라북도', '군산시', '미룡동'),
 ('전라북도', '군산시', '신창동'),
 ('전라북도', '군산시', '영동'),
 ('전라북도', '군산시', '장미동'),
 ('전라북도', '군산시', '미원동'),
 ('전라북도', '군산시', '명산동'),
 ('전라북도', '군산시', '동흥남동'),
 ('전라북도', '군산시', '해망동'),
 ('전라북도', '군산시', '금동'),
 ('전라북도', '군산시', '영화동'),
 ('전라북도', '군산시', '신영동'),
 ('전라북도', '군산시', '서흥남동'),
 ('전라북도', '군산시', '중앙로3가'),
 ('전라북도', '군산시', '금광동'),
 ('전라북도', '군산시', '중앙로2가'),
 ('전라북도', '군산시', '오식도동'),
 ('전라북도', '군산시', '비응도동'),
 ('전라북도', '군산시', '둔율동'),
 ('전라북도', '군산시', '평화동'),
 ('전라북도', '군산시', '개복동'),
 ('전라북도', '군산시', '중동'),
 ('전라북도', '군산시', '금암동'),
 ('전라북도', '군산시', '사정동'),
 ('전라북도', '군산시', '오룡동'),
 ('전라북도', '군산시', '내흥동'),
 ('전라북도', '군산시', '창성동'),
 ('전라북도', '익산시', '모현동1가'),
 ('전라북도', '익산시', '부송동'),
 ('전라북도', '익산시', '영등동'),
 ('전라북도', '정읍시', '상동'),
 ('제주특별자치도', '서귀포시', '서귀동'),
 ('제주특별자치도', '서귀포시', '강정동'),
 ('제주특별자치도', '서귀포시', '토평동'),
 ('제주특별자치도', '서귀포시', '하효동'),
 ('제주특별자치도', '서귀포시', '법환동'),
 ('제주특별자치도', '서귀포시', '대포동'),
 ('제주특별자치도', '서귀포시', '서호동'),
 ('제주특별자치도', '서귀포시', '대정읍'),
 ('제주특별자치도', '서귀포시', '보목동'),
 ('제주특별자치도', '서귀포시', '상효동'),
 ('제주특별자치도', '서귀포시', '도순동'),
 ('제주특별자치도', '서귀포시', '색달동'),
 ('제주특별자치도', '서귀포시', '하원동'),
 ('제주특별자치도', '서귀포시', '호근동'),
 ('제주특별자치도', '서귀포시', '신효동'),
 ('제주특별자치도', '서귀포시', '회수동'),
 ('제주특별자치도', '서귀포시', '월평동'),
 ('제주특별자치도', '서귀포시', '하예동'),
 ('제주특별자치도', '제주시', '삼도이동'),
 ('제주특별자치도', '제주시', '아라일동'),
 ('제주특별자치도', '제주시', '월평동'),
 ('제주특별자치도', '제주시', '이도이동'),
 ('제주특별자치도', '제주시', '도두일동'),
 ('제주특별자치도', '제주시', '용담이동'),
 ('제주특별자치도', '제주시', '도련일동'),
 ('제주특별자치도', '제주시', '오라이동'),
 ('제주특별자치도', '제주시', '외도일동'),
 ('제주특별자치도', '제주시', '도두이동'),
 ('제주특별자치도', '제주시', '일도이동'),
 ('제주특별자치도', '제주시', '도남동'),
 ('충청남도', '서산시', '동문동'),
 ('충청남도', '서산시', '석림동'),
 ('충청남도', '서산시', '읍내동'),
 ('충청남도', '서산시', '예천동'),
 ('충청남도', '서산시', '잠홍동'),
 ('충청남도', '보령시', '명천동'),
 ('충청남도', '보령시', '죽정동'),
 ('충청남도', '보령시', '동대동'),
 ('충청남도', '천안시동남구', '청당동'),
 ('충청남도', '천안시동남구', '원성동'),
 ('충청남도', '천안시동남구', '용곡동'),
 ('충청남도', '천안시서북구', '쌍용동'),
 ('충청남도', '아산시', '용화동'),
 ('충청남도', '아산시', '온천동'),
 ('충청남도', '아산시', '풍기동'),
 ('충청남도', '아산시', '모종동'),
 ('충청남도', '논산시', '지산동'),
 ('충청남도', '논산시', '대교동'),
 ('충청남도', '논산시', '강산동'),
 ('충청남도', '논산시', '반월동'),
 ('충청남도', '논산시', '내동'),
 ('충청북도', '제천시', '명동'),
 ('충청북도', '제천시', '의림동'),
 ('충청북도', '제천시', '장락동'),
 ('충청북도', '제천시', '영천동'),
 ('충청북도', '제천시', '강제동'),
 ('충청북도', '제천시', '모산동'),
 ('충청북도', '제천시', '중앙로1가'),
 ('충청북도', '제천시', '중앙로2가'),
 ('충청북도', '제천시', '하소동'),
 ('충청북도', '제천시', '고암동'),
 ('충청북도', '제천시', '신월동'),
 ('충청북도', '제천시', '천남동'),
 ('충청북도', '제천시', '동현동'),
 ('충청북도', '제천시', '남천동'),
 ('충청북도', '제천시', '왕암동'),
 ('충청북도', '제천시', '서부동'),
 ('충청북도', '제천시', '두학동'),
 ('충청북도', '충주시', '교현동'),
 ('충청북도', '충주시', '호암동'),
 ('충청북도', '충주시', '성내동'),
 ('충청북도', '충주시', '성서동'),
 ('충청북도', '충주시', '칠금동'),
 ('충청북도', '충주시', '금릉동'),
 ('충청북도', '충주시', '안림동'),
 ('충청북도', '충주시', '성남동'),
 ('경상북도', '안동시', '정하동'),
 ('경상북도', '안동시', '금곡동'),
 ('경상북도', '안동시', '삼산동'),
 ('경상북도', '안동시', '옥야동'),
 ('경상북도', '안동시', '천리동'),
 ('경상북도', '안동시', '광석동'),
 ('경상북도', '안동시', '정상동'),
 ('경상북도', '안동시', '동부동'),
 ('경상북도', '안동시', '율세동'),
 ('경상북도', '안동시', '남부동'),
 ('경상북도', '안동시', '송현동'),
 ('경상북도', '안동시', '법상동'),
 ('경상북도', '안동시', '법흥동'),
 ('경상북도', '안동시', '남문동'),
 ('경상북도', '안동시', '당북동'),
 ('경상북도', '안동시', '서부동'),
 ('경상북도', '안동시', '북문동'),
 ('경상북도', '안동시', '성곡동'),
 ('경상북도', '안동시', '운흥동'),
 ('경상북도', '안동시', '안흥동'),
 ('경상북도', '안동시', '운안동'),

In [53]:
still_missing=[]
for region in new_df3:
  if region not in total_list:
    still_missing.append(region)

still_missing

[]

In [54]:
df_level3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 0 to 912
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   광역시도       913 non-null    object
 1   시군구        913 non-null    object
 2   읍면동        913 non-null    object
 3   경도(초/100)  913 non-null    object
 4   위도(초/100)  913 non-null    object
dtypes: object(5)
memory usage: 42.8+ KB

In [55]:
df_level3 = df_level3.astype({'경도(초/100)' : 'float',	'위도(초/100)': 'float'})
df_level3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 0 to 912
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   광역시도       913 non-null    object
 1   시군구        913 non-null    object
 2   읍면동        913 non-null    object
 3   경도(초/100)  913 non-null    float64
 4   위도(초/100)  913 non-null    float64
dtypes: float64(2), object(3)
memory usage: 42.8+ KB

In [56]:
df_level3.describe()

        경도(초/100)   위도(초/100)
count  913.000000  913.000000
mean   127.502530   36.475689
std      0.838608    1.170833
min    126.251812   33.226671
25%    126.850781   35.814011
50%    127.095595   36.768913
75%    128.207405   37.495771
max    129.386804   38.206370

In [57]:
df_level3.groupby('광역시도').describe()

        경도(초/100)                        ...  위도(초/100)
            count        mean       std  ...        50%        75%        max
광역시도                                     ...
강원도          26.0  128.131982  0.533931  ...  37.850454  38.093333  38.206370
경기도         227.0  126.989611  0.198357  ...  37.480046  37.691353  38.025317
경상남도         77.0  128.392950  0.340057  ...  35.197291  35.218241  35.537658
경상북도        100.0  128.777257  0.344275  ...  36.101288  36.563119  36.884933
광주광역시        23.0  126.888146  0.045108  ...  35.182506  35.205175  35.223565
대구광역시        42.0  128.563851  0.067803  ...  35.853842  35.874729  35.940122
대전광역시        22.0  127.420751  0.040666  ...  36.343853  36.352500  36.380222
부산광역시        21.0  129.044715  0.096902  ...  35.137894  35.187083  35.322375
서울특별시       125.0  126.970207  0.089599  ...  37.530436  37.562237  37.687396
세종특별자치시       4.0  127.271086  0.033476  ...  36.506877  36.540964  36.604528
울산광역시        12.0  129.286871  0.107951  ...  35.585742  35.638599  35.663797
인천광역시        17.0  126.706187  0.034635  ...  37.493978  37.517603  37.612151
전라남도         34.0  127.233945  0.475682  ...  34.959947  35.030384  35.048144
전라북도         63.0  126.773969  0.126446  ...  35.972236  35.983523  35.999661
제주특별자치도      43.0  126.525260  0.132641  ...  33.292955  33.483876  33.531178
충청남도         35.0  126.845671  0.301886  ...  36.771463  36.796171  36.936764
충청북도         42.0  128.041494  0.242211  ...  37.123286  37.136976  37.194646

[17 rows x 16 columns]

In [58]:
# df_level3.to_csv("/content/drive/MyDrive/경도_위도_level3.csv", index=False, encoding="utf-8-sig")